<h1>Stock Quote</h1>

<%= form_tag({:controller => "stock", :action => "lookup"}, :method => "get") do %>
  <%= label_tag(:StockSymbol, "Stock Symbol:") %>
  <%= text_field_tag(:StockSymbol,'',:size => 4) %><span>format: 4 character stock symbol e.g. CSCO</span>
  <br/>
  <%= label_tag(:SMSnumber, "Send to Mobile:") %>
  <%= text_field_tag(:SMSnumber) %><span>format: +353871234567</span>
  <br/>
  <%= submit_tag("Look Up") %>
<% end %>
