<h1>Stock Quote</h1>

<%= form_tag({:controller => "stock", :action => "lookup"}, :method => "get") do %>
  <%= label_tag(:StockSymbol, "Stock Symbol:") %>
  <%= text_field_tag(:StockSymbol,@Stocks["Symbol"],:size => 4) %><span>format: 4 character stock symbol e.g. CSCO</span>
  <br/>
  <%= label_tag(:SMSnumber, "Send to Mobile:") %>
  <%= text_field_tag(:SMSnumber,@Stocks["sms"]) %><span>format: +353871234567</span>
  <br/>
  <%= submit_tag("Look Up") %>
<% end %>

<br>

<table border="1" cellspacing="10" cellpadding="3">

<tr>
	<td>Stock Name</td>
	<td>Ask Price</td>
	<td>Bid Price</td>
</tr>
<tr>
	<td><%= @Stocks["Name"] %></td>
	<td><%= @Stocks["Ask"] %></td>
	<td><%= @Stocks["Bid"] %></td>
</tr>
</table>

